doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Prethviga Homes - Building Your Dream Home
  link(rel='stylesheet' href=utils.assetPath("/bundle/home.css"))


include layout/header.pug 

section.headerContainer
  .animationContainer
    .animationList
      .container1
        img(src="../assets/images/homeani1.webp" alt='image1')
      .container1
        img(src="../assets/images/homeani2.webp" alt='image1')
      .container1
        img(src="../assets/images/homeani3.webp" alt='image1')
      .container1
        img(src="../assets/images/homeani4.webp" alt='image1')
  .heroContainer
    .heroContent
      h1.heroHeading EXCELLENCE IN EVERY BUILD
      h1.heroHead Building Your Dream Home
      .heroPara
        p.heroTexts
          | Transform your vision into reality with our expert construction
          | services. From concept to completion, we deliver exceptional
          | quality and craftsmanship.
        .heroSection
          .heroContact
            .heroIcon
              .heroImage
                svg(width='19' height='19' viewbox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M10.6934 12.9733C10.8655 13.0524 11.0594 13.0704 11.2431 13.0245C11.4269 12.9786 11.5895 12.8715 11.7042 12.7208L12 12.3333C12.1553 12.1263 12.3566 11.9583 12.588 11.8426C12.8194 11.7269 13.0746 11.6666 13.3334 11.6666H15.8334C16.2754 11.6666 16.6993 11.8422 17.0119 12.1548C17.3244 12.4674 17.5 12.8913 17.5 13.3333V15.8333C17.5 16.2753 17.3244 16.6993 17.0119 17.0118C16.6993 17.3244 16.2754 17.5 15.8334 17.5C11.8551 17.5 8.03982 15.9196 5.22677 13.1066C2.41373 10.2935 0.833374 6.47823 0.833374 2.49998C0.833374 2.05795 1.00897 1.63403 1.32153 1.32147C1.63409 1.00891 2.05801 0.833313 2.50004 0.833313H5.00004C5.44207 0.833313 5.86599 1.00891 6.17855 1.32147C6.49111 1.63403 6.66671 2.05795 6.66671 2.49998V4.99998C6.66671 5.25872 6.60647 5.51391 6.49075 5.74534C6.37504 5.97676 6.20703 6.17807 6.00004 6.33331L5.61004 6.62581C5.45705 6.74263 5.34922 6.9088 5.30487 7.0961C5.26051 7.28341 5.28236 7.48029 5.36671 7.65331C6.50561 9.96653 8.37873 11.8373 10.6934 12.9733Z' stroke='white' stroke-width='1.66667' stroke-linecap='round' stroke-linejoin='round')
            .heroTitle
              .heroCall
                h1.callText Call us now
              .heroNumber
                h1.numberText +1 (555) 123-4567
    .heroReview
      .heroCard
        .heroApp
          .appImage
            img(src='../assets/images/home-profile.webp' alt='profile')
          .appContent
            p.appText1
              | &quot;Prethviga Homes built our dream home with meticulous
              | attention to detail. Their commitment to quality and
              | customer satisfaction is evident in every aspect of the
              | project. Highly recommend!&quot;
            p.appText2 Evelyn Hayes
            p.appText3 Founder, Hayes Group
      .heroCard
        .heroApp
          .appImage
            img(src='../assets/images/home-profile.webp' alt='profile')
          .appContent
            p.appText1
              | &quot;Exceptional service from start to finish! Prethviga Homes
              | turned our outdated kitchen into a modern masterpiece. Their
              | team was professional, efficient, and a pleasure to work
              | with.&quot;
            p.appText2 Arun Kumar
            p.appText3 Manager, IT Field
      .heroCard
        .heroApp
          .appImage
            img(src='../assets/images/home-profile.webp' alt='profile')
          .appContent
            p.appText1
              | &quot;Outstanding work! They completed our commercial building
              | ahead of schedule and the quality exceeded our expectations.
              | Highly professional team.&quot;
            p.appText2 John Davidson
            p.appText3 CEO, Davidson Enterprises
section.projectContainer
  .projectWrapper
    h3.sectionHeading
      | Recent Projects
    .CardContainer
      .projectCard
        .cardImage
          img(src='../assets/images/projecthome1.webp' alt='')
        .projectDetails
          .projectName Pinnacle View Condominiums
          .projectInfo
            .projectArea
              span
                svg(width='12' height='15' viewbox='0 0 12 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M11.3334 5.99999C11.3334 9.32866 7.64069 12.7953 6.40069 13.866C6.28517 13.9529 6.14455 13.9998 6.00002 13.9998C5.85549 13.9998 5.71487 13.9529 5.59935 13.866C4.35935 12.7953 0.666687 9.32866 0.666687 5.99999C0.666687 4.5855 1.22859 3.22895 2.22878 2.22875C3.22898 1.22856 4.58553 0.666656 6.00002 0.666656C7.41451 0.666656 8.77106 1.22856 9.77126 2.22875C10.7715 3.22895 11.3334 4.5855 11.3334 5.99999Z' stroke='#99A1AF' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round')
                  path(d='M6.00002 7.99999C7.10459 7.99999 8.00002 7.10456 8.00002 5.99999C8.00002 4.89542 7.10459 3.99999 6.00002 3.99999C4.89545 3.99999 4.00002 4.89542 4.00002 5.99999C4.00002 7.10456 4.89545 7.99999 6.00002 7.99999Z' stroke='#99A1AF' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round')
              |  East Side
            .projectDate
              span
                svg(width='14' height='15' viewbox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M3.99996 0.666687V3.33335M9.33329 0.666687V3.33335M0.666626 6.00002H12.6666M1.99996 2.00002H11.3333C12.0697 2.00002 12.6666 2.59697 12.6666 3.33335V12.6667C12.6666 13.4031 12.0697 14 11.3333 14H1.99996C1.26358 14 0.666626 13.4031 0.666626 12.6667V3.33335C0.666626 2.59697 1.26358 2.00002 1.99996 2.00002Z' stroke='#99A1AF' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round')
              | November 2024
          .projectCardFooter
            span.cardFooterText 24 Premium Apartments
            button.cardFooterBtn View 
      .projectCard
        .cardImage
          img(src='../assets/images/projecthome2.webp' alt='')
        .projectDetails
          .projectName Pinnacle View Condominiums
          .projectInfo
            .projectArea
              span
                svg(width='12' height='15' viewbox='0 0 12 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M11.3334 5.99999C11.3334 9.32866 7.64069 12.7953 6.40069 13.866C6.28517 13.9529 6.14455 13.9998 6.00002 13.9998C5.85549 13.9998 5.71487 13.9529 5.59935 13.866C4.35935 12.7953 0.666687 9.32866 0.666687 5.99999C0.666687 4.5855 1.22859 3.22895 2.22878 2.22875C3.22898 1.22856 4.58553 0.666656 6.00002 0.666656C7.41451 0.666656 8.77106 1.22856 9.77126 2.22875C10.7715 3.22895 11.3334 4.5855 11.3334 5.99999Z' stroke='#99A1AF' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round')
                  path(d='M6.00002 7.99999C7.10459 7.99999 8.00002 7.10456 8.00002 5.99999C8.00002 4.89542 7.10459 3.99999 6.00002 3.99999C4.89545 3.99999 4.00002 4.89542 4.00002 5.99999C4.00002 7.10456 4.89545 7.99999 6.00002 7.99999Z' stroke='#99A1AF' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round')
              |  East Side
            .projectDate
              span
                svg(width='14' height='15' viewbox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M3.99996 0.666687V3.33335M9.33329 0.666687V3.33335M0.666626 6.00002H12.6666M1.99996 2.00002H11.3333C12.0697 2.00002 12.6666 2.59697 12.6666 3.33335V12.6667C12.6666 13.4031 12.0697 14 11.3333 14H1.99996C1.26358 14 0.666626 13.4031 0.666626 12.6667V3.33335C0.666626 2.59697 1.26358 2.00002 1.99996 2.00002Z' stroke='#99A1AF' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round')
              | November 2024
          .projectCardFooter
            span.cardFooterText 24 Premium Apartments
            button.cardFooterBtn View 
      .projectCard
        .cardImage
          img(src='../assets/images/projecthome3.webp' alt='')
        .projectDetails
          .projectName Pinnacle View Condominiums
          .projectInfo
            .projectArea
              span
                svg(width='12' height='15' viewbox='0 0 12 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M11.3334 5.99999C11.3334 9.32866 7.64069 12.7953 6.40069 13.866C6.28517 13.9529 6.14455 13.9998 6.00002 13.9998C5.85549 13.9998 5.71487 13.9529 5.59935 13.866C4.35935 12.7953 0.666687 9.32866 0.666687 5.99999C0.666687 4.5855 1.22859 3.22895 2.22878 2.22875C3.22898 1.22856 4.58553 0.666656 6.00002 0.666656C7.41451 0.666656 8.77106 1.22856 9.77126 2.22875C10.7715 3.22895 11.3334 4.5855 11.3334 5.99999Z' stroke='#99A1AF' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round')
                  path(d='M6.00002 7.99999C7.10459 7.99999 8.00002 7.10456 8.00002 5.99999C8.00002 4.89542 7.10459 3.99999 6.00002 3.99999C4.89545 3.99999 4.00002 4.89542 4.00002 5.99999C4.00002 7.10456 4.89545 7.99999 6.00002 7.99999Z' stroke='#99A1AF' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round')
              |  East Side
            .projectDate
              span
                svg(width='14' height='15' viewbox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M3.99996 0.666687V3.33335M9.33329 0.666687V3.33335M0.666626 6.00002H12.6666M1.99996 2.00002H11.3333C12.0697 2.00002 12.6666 2.59697 12.6666 3.33335V12.6667C12.6666 13.4031 12.0697 14 11.3333 14H1.99996C1.26358 14 0.666626 13.4031 0.666626 12.6667V3.33335C0.666626 2.59697 1.26358 2.00002 1.99996 2.00002Z' stroke='#99A1AF' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round')
              | November 2024
          .projectCardFooter
            span.cardFooterText 24 Premium Apartments
            button.cardFooterBtn View 
    button.projectBtn View More
section.chooseContainer
  .titleContainer
    h2.titleHeading Why Choose Prethviga Homes
    p.titleContent
      | We combine expertise, quality, and commitment to deliver exceptional
      | construction projects that exceed expectations
  .chooseRow
    .chooseCard1
      .chooseIcon
        .chooseImage
          svg(width='30' height='36' viewbox='0 0 30 36' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M14.5833 1.25V34.5834M14.5833 1.25L1.25 7.91666M14.5833 1.25L27.9166 7.91666M14.5833 34.5834L1.25 27.9167M14.5833 34.5834L27.9166 27.9167M1.25 7.91666V27.9167M1.25 7.91666L14.5833 14.5834M27.9166 7.91666V27.9167M27.9166 7.91666L14.5833 14.5834M1.25 27.9167L14.5833 21.25M27.9166 27.9167L14.5833 21.25M14.5833 14.5834V21.25' stroke='white' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round')
      .chooseDescription
        h3.chooseHeading Quality Construction
        p.choosePara
          | Premium materials and expert craftsmanship ensuring durability
          | and excellence in every project
    .chooseCard1
      .chooseIcon
        .chooseImage
          svg(width='48' height='40' viewbox='0 0 48 40' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M23.6667 13V19.6667L28.6667 24.6667M23.6667 36.3334C32.8714 36.3334 40.3334 28.8714 40.3334 19.6667C40.3334 10.462 32.8714 3 23.6667 3C14.462 3 7 10.462 7 19.6667C7 28.8714 14.462 36.3334 23.6667 36.3334Z' stroke='white' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round')
      .chooseDescription
        h3.chooseHeading On-Time Delivery
        p.choosePara
          | Committed to meeting deadlines without compromising on quality
          | or safety standards
    .chooseCard1
      .chooseIcon
        .chooseImage
          svg(width='33' height='35' viewbox='0 0 33 35' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M11.25 32.9167V17.9167H21.25V32.9167M31.25 12.9167L16.25 1.25L1.25 12.9167V29.5834C1.25 30.4674 1.60119 31.3153 2.22631 31.9404C2.85143 32.5655 3.69928 32.9167 4.58333 32.9167H27.9167C28.8007 32.9167 29.6486 32.5655 30.2737 31.9404C30.8988 31.3153 31.25 30.4674 31.25 29.5834V12.9167Z' stroke='white' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round')
      .chooseDescription
        h3.chooseHeading 25+ Years Experience
        p.choosePara
          | Decades of expertise in residential and commercial construction
          | across diverse projects
section.aboutWorksContainer
  h2.sectionHeading Our values &amp; Promises
  .worksWrapper
    .workImage
      img(src='../assets/images/projecthome2.webp' alt='')
    .workListItems
      .workList
        span.workListIcon
          svg(width='43' height='43' viewbox='0 0 43 43' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M1.5 41.4999V37.0555C1.5 34.698 2.4365 32.4371 4.10349 30.7701C5.77049 29.1031 8.03141 28.1666 10.3889 28.1666H19.2778C21.6353 28.1666 23.8962 29.1031 25.5632 30.7701C27.2302 32.4371 28.1667 34.698 28.1667 37.0555V41.4999M30.3889 1.7889C32.3009 2.27846 33.9956 3.39045 35.2059 4.94958C36.4161 6.50871 37.073 8.42629 37.073 10.4C37.073 12.3737 36.4161 14.2913 35.2059 15.8504C33.9956 17.4095 32.3009 18.5215 30.3889 19.0111M41.5 41.5V37.0556C41.4887 35.0937 40.8287 33.1907 39.6228 31.6431C38.4169 30.0956 36.7329 28.9905 34.8333 28.5M5.94444 10.3889C5.94444 12.7464 6.88095 15.0073 8.54794 16.6743C10.2149 18.3413 12.4759 19.2778 14.8333 19.2778C17.1908 19.2778 19.4517 18.3413 21.1187 16.6743C22.7857 15.0073 23.7222 12.7464 23.7222 10.3889C23.7222 8.0314 22.7857 5.77048 21.1187 4.10349C19.4517 2.4365 17.1908 1.5 14.8333 1.5C12.4759 1.5 10.2149 2.4365 8.54794 4.10349C6.88095 5.77048 5.94444 8.0314 5.94444 10.3889Z' stroke='black' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
        .workInfo
          h3 We work together
          p We Sit down with the entire Construction Chair from the very Beginning
        span.workListIcon.arrowIcon
          svg(width='29' height='25' viewbox='0 0 29 25' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M29 12.5C29 12.9144 28.8303 13.3119 28.5281 13.6049L17.2503 24.5424C16.6212 25.1525 15.601 25.1525 14.9719 24.5424C14.3428 23.9322 14.3428 22.9428 14.9719 22.3327L23.4993 14.0625H1.61111C0.721294 14.0625 -9.53674e-07 13.363 -9.53674e-07 12.5C-9.53674e-07 11.637 0.721294 10.9375 1.61111 10.9375H23.4993L14.9719 2.66736C14.3428 2.05716 14.3428 1.06785 14.9719 0.457641C15.601 -0.152547 16.6212 -0.152547 17.2503 0.457641L28.5281 11.3952C28.8303 11.6881 29 12.0856 29 12.5Z' fill='#BC5322')
      .workList
        span.workListIcon
          svg(width='43' height='43' viewbox='0 0 43 43' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M1.5 41.5H41.5M14.8333 12.6111H17.0556M14.8333 21.5H17.0556M14.8333 30.3889H17.0556M25.9444 12.6111H28.1667M25.9444 21.5H28.1667M25.9444 30.3889H28.1667M5.94444 41.5V5.94444C5.94444 4.7657 6.4127 3.63524 7.24619 2.80175C8.07969 1.96825 9.21015 1.5 10.3889 1.5H32.6111C33.7899 1.5 34.9203 1.96825 35.7538 2.80175C36.5873 3.63524 37.0556 4.7657 37.0556 5.94444V41.5' stroke='black' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
        .workInfo
          h3 We Build for the future
          p We build your dream home as if it were our very own
        span.workListIcon.arrowIcon
          svg(width='29' height='25' viewbox='0 0 29 25' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M29 12.5C29 12.9144 28.8303 13.3119 28.5281 13.6049L17.2503 24.5424C16.6212 25.1525 15.601 25.1525 14.9719 24.5424C14.3428 23.9322 14.3428 22.9428 14.9719 22.3327L23.4993 14.0625H1.61111C0.721294 14.0625 -9.53674e-07 13.363 -9.53674e-07 12.5C-9.53674e-07 11.637 0.721294 10.9375 1.61111 10.9375H23.4993L14.9719 2.66736C14.3428 2.05716 14.3428 1.06785 14.9719 0.457641C15.601 -0.152547 16.6212 -0.152547 17.2503 0.457641L28.5281 11.3952C28.8303 11.6881 29 12.0856 29 12.5Z' fill='#BC5322')
      .workList
        span.workListIcon
          svg(width='42' height='43' viewbox='0 0 42 43' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M14.4762 40.4189V27.4459C14.4762 26.2991 14.9319 25.1992 15.7431 24.3882C16.5542 23.5772 17.6544 23.1216 18.8016 23.1216H22.2619M38.2659 18.7973L20.9643 1.5L1.5 20.9595H5.8254V36.0946C5.8254 37.2415 6.28111 38.3414 7.09227 39.1524C7.90344 39.9633 9.00362 40.4189 10.1508 40.4189H19.1455M33.9405 38.2568C32.7933 38.2568 31.6931 37.8012 30.882 36.9902C30.0708 36.1792 29.6151 35.0793 29.6151 33.9324C29.6151 32.7855 30.0708 31.6856 30.882 30.8747C31.6931 30.0637 32.7933 29.6081 33.9405 29.6081M33.9405 38.2568C35.0876 38.2568 36.1878 37.8012 36.999 36.9902C37.8102 36.1792 38.2659 35.0793 38.2659 33.9324C38.2659 32.7855 37.8102 31.6856 36.999 30.8747C36.1878 30.0637 35.0876 29.6081 33.9405 29.6081M33.9405 38.2568V41.5M33.9405 29.6081V26.3649M40.4978 30.1486L37.6885 31.7703M30.1989 36.0946L27.3874 37.7162M27.3874 30.1486L30.1989 31.7703M37.6885 36.0946L40.5 37.7162' stroke='black' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
        .workInfo
          h3 We put resistance
          p We take responsibility for any repairs needed after construction.
        span.workListIcon.arrowIcon
          svg(width='29' height='25' viewbox='0 0 29 25' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M29 12.5C29 12.9144 28.8303 13.3119 28.5281 13.6049L17.2503 24.5424C16.6212 25.1525 15.601 25.1525 14.9719 24.5424C14.3428 23.9322 14.3428 22.9428 14.9719 22.3327L23.4993 14.0625H1.61111C0.721294 14.0625 -9.53674e-07 13.363 -9.53674e-07 12.5C-9.53674e-07 11.637 0.721294 10.9375 1.61111 10.9375H23.4993L14.9719 2.66736C14.3428 2.05716 14.3428 1.06785 14.9719 0.457641C15.601 -0.152547 16.6212 -0.152547 17.2503 0.457641L28.5281 11.3952C28.8303 11.6881 29 12.0856 29 12.5Z' fill='#BC5322')
section.technologiesContainer
  .technologiesImage
    // <img src="../assets//images/window.svg" alt="">
    h1 Technologies
  .technologiesCards
    .technologiesCard
      span.technologiesIcon
        svg(width='43' height='43' viewbox='0 0 43 43' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M1.5 11.5H41.5M41.5 21.5H1.5M1.5 31.5H41.5M14 1.5V11.5M26.5 11.5V21.5M11.5 21.5V31.5M31.5 21.5V31.5M19 31.5V41.5M1.5 6.5C1.5 5.17392 2.02678 3.90215 2.96447 2.96447C3.90215 2.02678 5.17392 1.5 6.5 1.5H36.5C37.8261 1.5 39.0979 2.02678 40.0355 2.96447C40.9732 3.90215 41.5 5.17392 41.5 6.5V36.5C41.5 37.8261 40.9732 39.0979 40.0355 40.0355C39.0979 40.9732 37.8261 41.5 36.5 41.5H6.5C5.17392 41.5 3.90215 40.9732 2.96447 40.0355C2.02678 39.0979 1.5 37.8261 1.5 36.5V6.5Z' stroke='black' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
      h3 Wall
      p
        | We use top-tier materials like reinforced composites and sustainable timber, customized for your project and
        | local climate.
    .technologiesCard
      span.technologiesIcon
        svg(width='43' height='43' viewbox='0 0 43 43' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M14.8333 41.5V28.1667C14.8333 26.9879 15.3016 25.8575 16.1351 25.024C16.9686 24.1905 18.099 23.7222 19.2778 23.7222H23.7222C24.901 23.7222 26.0314 24.1905 26.8649 25.024C27.6984 25.8575 28.1667 26.9879 28.1667 28.1667V41.5M5.94444 21.5H1.5L21.5 1.5L41.5 21.5H37.0556V37.0556C37.0556 38.2343 36.5873 39.3648 35.7538 40.1983C34.9203 41.0317 33.7899 41.5 32.6111 41.5H10.3889C9.21015 41.5 8.07969 41.0317 7.24619 40.1983C6.4127 39.3648 5.94444 38.2343 5.94444 37.0556V21.5Z' stroke='black' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
      h3 Roof
      p
        | We ensure dry, comfortable, energy-efficient homes with advanced waterproofing, insulation, and cladding for
        | year-round protection.
    .technologiesCard
      span.technologiesIcon
        svg(width='42' height='42' viewbox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M21 3.51748V38.5009M1 21.0092H41M35.5 40.9998L5.5 37.2515C3 37.0017 1 35.0026 1 32.5038V9.51472C1 7.01591 3 5.01686 5.5 4.76697L35.5 1.01875C38.5 0.768873 41 3.01781 41 5.7665V36.0021C41 39.0007 38.25 41.2496 35.5 40.7499V40.9998Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      h3 Window
      p
        | Our windows offer stunning views, energy efficiency, and security, seamlessly integrating indoor and outdoor
        | living spaces.
section.aboutContainer
  .aboutWrapper
    .aboutImage
      img(src='../assets/images/technology-back.webp' alt='')
    .aboutContent
      h2.aboutTitle About Prethviga Homes
      .aboutCards
        .aboutIconCard
          span.aboutIcon
            svg(width='63' height='63' viewbox='0 0 63 63' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M21.5 61.5V41.5C21.5 39.7319 22.2024 38.0362 23.4526 36.786C24.7029 35.5357 26.3986 34.8333 28.1667 34.8333H34.8333C36.6014 34.8333 38.2971 35.5357 39.5474 36.786C40.7976 38.0362 41.5 39.7319 41.5 41.5V61.5M8.16667 31.5H1.5L31.5 1.5L61.5 31.5H54.8333V54.8333C54.8333 56.6014 54.131 58.2971 52.8807 59.5474C51.6305 60.7976 49.9348 61.5 48.1667 61.5H14.8333C13.0652 61.5 11.3695 60.7976 10.1193 59.5474C8.86905 58.2971 8.16667 56.6014 8.16667 54.8333V31.5Z' stroke='black' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
          .aboutCardInfo
            p.aboutNumbers 25+
            span.aboutSpan Project completed
        .aboutIconCard
          span.aboutIcon
            svg(width='61' height='63' viewbox='0 0 61 63' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M30.5034 41.7459C25.1355 41.7459 19.9875 39.6259 16.1919 35.8521C12.3962 32.0783 10.2638 26.9599 10.2638 21.623C10.2638 16.286 12.3962 11.1677 16.1919 7.39388C19.9875 3.62009 25.1355 1.5 30.5034 1.5C35.8713 1.5 41.0193 3.62009 44.815 7.39388C48.6106 11.1677 50.743 16.286 50.743 21.623C50.743 26.9599 48.6106 32.0783 44.815 35.8521C41.0193 39.6259 35.8713 41.7459 30.5034 41.7459ZM30.5034 41.7459L41.9725 61.5L47.363 50.6571L59.5 51.4352L48.0309 31.6845M12.9691 31.6845L1.5 51.4385L13.637 50.6571L19.0275 61.4966L30.4966 41.7459' stroke='black' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
          .aboutCardInfo
            p.aboutNumbers 83k+
            span.aboutSpan SQ feet Developed
      div
        p.aboutPara
          | Crafting Exquisite Residences: A Vision of Luxury Living. 
          br
          |             Crafting exquisite living spaces in desirable locales demands a philosophy that transcends standard
          |             construction. It embraces a vision of creating exclusive sanctuaries that offer unparalleled comfort and
          |             convenience.
        button.aboutBtn Explore More
section.reviewContainer
  h2.sectionHeading Loved by our clients
  .reviewCardsWrapper
    .reviewCards
      .reviewCard
        .reviewIcon
          span
            svg(width='34' height='34' viewbox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M23.3333 1.66675C22.4492 1.66675 21.6014 2.01794 20.9763 2.64306C20.3511 3.26818 20 4.11603 20 5.00008V15.0001C20 15.8841 20.3511 16.732 20.9763 17.3571C21.6014 17.9822 22.4492 18.3334 23.3333 18.3334C23.7753 18.3334 24.1992 18.509 24.5118 18.8216C24.8244 19.1341 25 19.5581 25 20.0001V21.6667C25 22.5508 24.6488 23.3986 24.0236 24.0238C23.3985 24.6489 22.5507 25.0001 21.6666 25.0001C21.2246 25.0001 20.8007 25.1757 20.4881 25.4882C20.1756 25.8008 20 26.2247 20 26.6667V30.0001C20 30.4421 20.1756 30.866 20.4881 31.1786C20.8007 31.4912 21.2246 31.6667 21.6666 31.6667C24.3188 31.6667 26.8623 30.6132 28.7377 28.7378C30.6131 26.8625 31.6666 24.3189 31.6666 21.6667V5.00008C31.6666 4.11603 31.3154 3.26818 30.6903 2.64306C30.0652 2.01794 29.2173 1.66675 28.3333 1.66675H23.3333Z' stroke='#C1834E' stroke-opacity='0.2' stroke-width='3.33333' stroke-linecap='round' stroke-linejoin='round')
              path(d='M4.99996 1.66675C4.1159 1.66675 3.26806 2.01794 2.64294 2.64306C2.01782 3.26818 1.66663 4.11603 1.66663 5.00008V15.0001C1.66663 15.8841 2.01782 16.732 2.64294 17.3571C3.26806 17.9822 4.1159 18.3334 4.99996 18.3334C5.44199 18.3334 5.86591 18.509 6.17847 18.8216C6.49103 19.1341 6.66663 19.5581 6.66663 20.0001V21.6667C6.66663 22.5508 6.31544 23.3986 5.69032 24.0238C5.06519 24.6489 4.21735 25.0001 3.33329 25.0001C2.89127 25.0001 2.46734 25.1757 2.15478 25.4882C1.84222 25.8008 1.66663 26.2247 1.66663 26.6667V30.0001C1.66663 30.4421 1.84222 30.866 2.15478 31.1786C2.46734 31.4912 2.89127 31.6667 3.33329 31.6667C5.98546 31.6667 8.529 30.6132 10.4044 28.7378C12.2797 26.8625 13.3333 24.3189 13.3333 21.6667V5.00008C13.3333 4.11603 12.9821 3.26818 12.357 2.64306C11.7319 2.01794 10.884 1.66675 9.99996 1.66675H4.99996Z' stroke='#C1834E' stroke-opacity='0.2' stroke-width='3.33333' stroke-linecap='round' stroke-linejoin='round')
        .reviewText
          p
            | &quot;Prethviga Homes transformed our dream into reality. Their attention to detail and commitment to quality
            | is unmatched. Our new home is everything we hoped for and more!&quot;
        .clientDetail
          .clientImage
            span R
          .clientInfo
            h3.clientName Rajesh Kumar
            p.clientRole Homeowner
        .reviewFooter
          | Project: Sunset Ridge Residence
      .reviewCard
        .reviewIcon
          span
            svg(width='34' height='34' viewbox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M23.3333 1.66675C22.4492 1.66675 21.6014 2.01794 20.9763 2.64306C20.3511 3.26818 20 4.11603 20 5.00008V15.0001C20 15.8841 20.3511 16.732 20.9763 17.3571C21.6014 17.9822 22.4492 18.3334 23.3333 18.3334C23.7753 18.3334 24.1992 18.509 24.5118 18.8216C24.8244 19.1341 25 19.5581 25 20.0001V21.6667C25 22.5508 24.6488 23.3986 24.0236 24.0238C23.3985 24.6489 22.5507 25.0001 21.6666 25.0001C21.2246 25.0001 20.8007 25.1757 20.4881 25.4882C20.1756 25.8008 20 26.2247 20 26.6667V30.0001C20 30.4421 20.1756 30.866 20.4881 31.1786C20.8007 31.4912 21.2246 31.6667 21.6666 31.6667C24.3188 31.6667 26.8623 30.6132 28.7377 28.7378C30.6131 26.8625 31.6666 24.3189 31.6666 21.6667V5.00008C31.6666 4.11603 31.3154 3.26818 30.6903 2.64306C30.0652 2.01794 29.2173 1.66675 28.3333 1.66675H23.3333Z' stroke='#C1834E' stroke-opacity='0.2' stroke-width='3.33333' stroke-linecap='round' stroke-linejoin='round')
              path(d='M4.99996 1.66675C4.1159 1.66675 3.26806 2.01794 2.64294 2.64306C2.01782 3.26818 1.66663 4.11603 1.66663 5.00008V15.0001C1.66663 15.8841 2.01782 16.732 2.64294 17.3571C3.26806 17.9822 4.1159 18.3334 4.99996 18.3334C5.44199 18.3334 5.86591 18.509 6.17847 18.8216C6.49103 19.1341 6.66663 19.5581 6.66663 20.0001V21.6667C6.66663 22.5508 6.31544 23.3986 5.69032 24.0238C5.06519 24.6489 4.21735 25.0001 3.33329 25.0001C2.89127 25.0001 2.46734 25.1757 2.15478 25.4882C1.84222 25.8008 1.66663 26.2247 1.66663 26.6667V30.0001C1.66663 30.4421 1.84222 30.866 2.15478 31.1786C2.46734 31.4912 2.89127 31.6667 3.33329 31.6667C5.98546 31.6667 8.529 30.6132 10.4044 28.7378C12.2797 26.8625 13.3333 24.3189 13.3333 21.6667V5.00008C13.3333 4.11603 12.9821 3.26818 12.357 2.64306C11.7319 2.01794 10.884 1.66675 9.99996 1.66675H4.99996Z' stroke='#C1834E' stroke-opacity='0.2' stroke-width='3.33333' stroke-linecap='round' stroke-linejoin='round')
        .reviewText
          p
            | &quot;Working with Prethviga Homes was a seamless experience. They delivered our commercial space on time and
            | within budget. Professional team with excellent communication!&quot;
        .clientDetail
          .clientImage
            span P
          .clientInfo
            h3.clientName Priya Sharma
            p.clientRole Business Owner
        .reviewFooter
          | Project: Tech Hub Commercial Plaza
      .reviewCard
        .reviewIcon
          span
            svg(width='34' height='34' viewbox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M23.3333 1.66675C22.4492 1.66675 21.6014 2.01794 20.9763 2.64306C20.3511 3.26818 20 4.11603 20 5.00008V15.0001C20 15.8841 20.3511 16.732 20.9763 17.3571C21.6014 17.9822 22.4492 18.3334 23.3333 18.3334C23.7753 18.3334 24.1992 18.509 24.5118 18.8216C24.8244 19.1341 25 19.5581 25 20.0001V21.6667C25 22.5508 24.6488 23.3986 24.0236 24.0238C23.3985 24.6489 22.5507 25.0001 21.6666 25.0001C21.2246 25.0001 20.8007 25.1757 20.4881 25.4882C20.1756 25.8008 20 26.2247 20 26.6667V30.0001C20 30.4421 20.1756 30.866 20.4881 31.1786C20.8007 31.4912 21.2246 31.6667 21.6666 31.6667C24.3188 31.6667 26.8623 30.6132 28.7377 28.7378C30.6131 26.8625 31.6666 24.3189 31.6666 21.6667V5.00008C31.6666 4.11603 31.3154 3.26818 30.6903 2.64306C30.0652 2.01794 29.2173 1.66675 28.3333 1.66675H23.3333Z' stroke='#C1834E' stroke-opacity='0.2' stroke-width='3.33333' stroke-linecap='round' stroke-linejoin='round')
              path(d='M4.99996 1.66675C4.1159 1.66675 3.26806 2.01794 2.64294 2.64306C2.01782 3.26818 1.66663 4.11603 1.66663 5.00008V15.0001C1.66663 15.8841 2.01782 16.732 2.64294 17.3571C3.26806 17.9822 4.1159 18.3334 4.99996 18.3334C5.44199 18.3334 5.86591 18.509 6.17847 18.8216C6.49103 19.1341 6.66663 19.5581 6.66663 20.0001V21.6667C6.66663 22.5508 6.31544 23.3986 5.69032 24.0238C5.06519 24.6489 4.21735 25.0001 3.33329 25.0001C2.89127 25.0001 2.46734 25.1757 2.15478 25.4882C1.84222 25.8008 1.66663 26.2247 1.66663 26.6667V30.0001C1.66663 30.4421 1.84222 30.866 2.15478 31.1786C2.46734 31.4912 2.89127 31.6667 3.33329 31.6667C5.98546 31.6667 8.529 30.6132 10.4044 28.7378C12.2797 26.8625 13.3333 24.3189 13.3333 21.6667V5.00008C13.3333 4.11603 12.9821 3.26818 12.357 2.64306C11.7319 2.01794 10.884 1.66675 9.99996 1.66675H4.99996Z' stroke='#C1834E' stroke-opacity='0.2' stroke-width='3.33333' stroke-linecap='round' stroke-linejoin='round')
        .reviewText
          p
            | &quot;I&apos;ve invested in multiple projects with Prethviga Homes and every time they&apos;ve exceeded expectations.
            | Their transparency and quality construction make them my go-to builder.&quot;
        .clientDetail
          .clientImage
            span A
          .clientInfo
            h3.clientName Arun Venkatesh
            p.clientRole Investor
        .reviewFooter
          | Project: Green Valley Apartments
      .reviewCard
        .reviewIcon
          span
            svg(width='34' height='34' viewbox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M23.3333 1.66675C22.4492 1.66675 21.6014 2.01794 20.9763 2.64306C20.3511 3.26818 20 4.11603 20 5.00008V15.0001C20 15.8841 20.3511 16.732 20.9763 17.3571C21.6014 17.9822 22.4492 18.3334 23.3333 18.3334C23.7753 18.3334 24.1992 18.509 24.5118 18.8216C24.8244 19.1341 25 19.5581 25 20.0001V21.6667C25 22.5508 24.6488 23.3986 24.0236 24.0238C23.3985 24.6489 22.5507 25.0001 21.6666 25.0001C21.2246 25.0001 20.8007 25.1757 20.4881 25.4882C20.1756 25.8008 20 26.2247 20 26.6667V30.0001C20 30.4421 20.1756 30.866 20.4881 31.1786C20.8007 31.4912 21.2246 31.6667 21.6666 31.6667C24.3188 31.6667 26.8623 30.6132 28.7377 28.7378C30.6131 26.8625 31.6666 24.3189 31.6666 21.6667V5.00008C31.6666 4.11603 31.3154 3.26818 30.6903 2.64306C30.0652 2.01794 29.2173 1.66675 28.3333 1.66675H23.3333Z' stroke='#C1834E' stroke-opacity='0.2' stroke-width='3.33333' stroke-linecap='round' stroke-linejoin='round')
              path(d='M4.99996 1.66675C4.1159 1.66675 3.26806 2.01794 2.64294 2.64306C2.01782 3.26818 1.66663 4.11603 1.66663 5.00008V15.0001C1.66663 15.8841 2.01782 16.732 2.64294 17.3571C3.26806 17.9822 4.1159 18.3334 4.99996 18.3334C5.44199 18.3334 5.86591 18.509 6.17847 18.8216C6.49103 19.1341 6.66663 19.5581 6.66663 20.0001V21.6667C6.66663 22.5508 6.31544 23.3986 5.69032 24.0238C5.06519 24.6489 4.21735 25.0001 3.33329 25.0001C2.89127 25.0001 2.46734 25.1757 2.15478 25.4882C1.84222 25.8008 1.66663 26.2247 1.66663 26.6667V30.0001C1.66663 30.4421 1.84222 30.866 2.15478 31.1786C2.46734 31.4912 2.89127 31.6667 3.33329 31.6667C5.98546 31.6667 8.529 30.6132 10.4044 28.7378C12.2797 26.8625 13.3333 24.3189 13.3333 21.6667V5.00008C13.3333 4.11603 12.9821 3.26818 12.357 2.64306C11.7319 2.01794 10.884 1.66675 9.99996 1.66675H4.99996Z' stroke='#C1834E' stroke-opacity='0.2' stroke-width='3.33333' stroke-linecap='round' stroke-linejoin='round')
        .reviewText
          p
            | &quot;Prethviga Homes transformed our dream into reality. Their attention to detail and commitment to quality
            | is unmatched. Our new home is everything we hoped for and more!&quot;
        .clientDetail
          .clientImage
            span R
          .clientInfo
            h3.clientName Rajesh Kumar
            p.clientRole Homeowner
        .reviewFooter
          | Project: Sunset Ridge Residence
      .reviewCard
        .reviewIcon
          span
            svg(width='34' height='34' viewbox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M23.3333 1.66675C22.4492 1.66675 21.6014 2.01794 20.9763 2.64306C20.3511 3.26818 20 4.11603 20 5.00008V15.0001C20 15.8841 20.3511 16.732 20.9763 17.3571C21.6014 17.9822 22.4492 18.3334 23.3333 18.3334C23.7753 18.3334 24.1992 18.509 24.5118 18.8216C24.8244 19.1341 25 19.5581 25 20.0001V21.6667C25 22.5508 24.6488 23.3986 24.0236 24.0238C23.3985 24.6489 22.5507 25.0001 21.6666 25.0001C21.2246 25.0001 20.8007 25.1757 20.4881 25.4882C20.1756 25.8008 20 26.2247 20 26.6667V30.0001C20 30.4421 20.1756 30.866 20.4881 31.1786C20.8007 31.4912 21.2246 31.6667 21.6666 31.6667C24.3188 31.6667 26.8623 30.6132 28.7377 28.7378C30.6131 26.8625 31.6666 24.3189 31.6666 21.6667V5.00008C31.6666 4.11603 31.3154 3.26818 30.6903 2.64306C30.0652 2.01794 29.2173 1.66675 28.3333 1.66675H23.3333Z' stroke='#C1834E' stroke-opacity='0.2' stroke-width='3.33333' stroke-linecap='round' stroke-linejoin='round')
              path(d='M4.99996 1.66675C4.1159 1.66675 3.26806 2.01794 2.64294 2.64306C2.01782 3.26818 1.66663 4.11603 1.66663 5.00008V15.0001C1.66663 15.8841 2.01782 16.732 2.64294 17.3571C3.26806 17.9822 4.1159 18.3334 4.99996 18.3334C5.44199 18.3334 5.86591 18.509 6.17847 18.8216C6.49103 19.1341 6.66663 19.5581 6.66663 20.0001V21.6667C6.66663 22.5508 6.31544 23.3986 5.69032 24.0238C5.06519 24.6489 4.21735 25.0001 3.33329 25.0001C2.89127 25.0001 2.46734 25.1757 2.15478 25.4882C1.84222 25.8008 1.66663 26.2247 1.66663 26.6667V30.0001C1.66663 30.4421 1.84222 30.866 2.15478 31.1786C2.46734 31.4912 2.89127 31.6667 3.33329 31.6667C5.98546 31.6667 8.529 30.6132 10.4044 28.7378C12.2797 26.8625 13.3333 24.3189 13.3333 21.6667V5.00008C13.3333 4.11603 12.9821 3.26818 12.357 2.64306C11.7319 2.01794 10.884 1.66675 9.99996 1.66675H4.99996Z' stroke='#C1834E' stroke-opacity='0.2' stroke-width='3.33333' stroke-linecap='round' stroke-linejoin='round')
        .reviewText
          p
            | &quot;Working with Prethviga Homes was a seamless experience. They delivered our commercial space on time and
            | within budget. Professional team with excellent communication!&quot;
        .clientDetail
          .clientImage
            span P
          .clientInfo
            h3.clientName Priya Sharma
            p.clientRole Business Owner
        .reviewFooter
          | Project: Tech Hub Commercial Plaza
      .reviewCard
        .reviewIcon
          span
            svg(width='34' height='34' viewbox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M23.3333 1.66675C22.4492 1.66675 21.6014 2.01794 20.9763 2.64306C20.3511 3.26818 20 4.11603 20 5.00008V15.0001C20 15.8841 20.3511 16.732 20.9763 17.3571C21.6014 17.9822 22.4492 18.3334 23.3333 18.3334C23.7753 18.3334 24.1992 18.509 24.5118 18.8216C24.8244 19.1341 25 19.5581 25 20.0001V21.6667C25 22.5508 24.6488 23.3986 24.0236 24.0238C23.3985 24.6489 22.5507 25.0001 21.6666 25.0001C21.2246 25.0001 20.8007 25.1757 20.4881 25.4882C20.1756 25.8008 20 26.2247 20 26.6667V30.0001C20 30.4421 20.1756 30.866 20.4881 31.1786C20.8007 31.4912 21.2246 31.6667 21.6666 31.6667C24.3188 31.6667 26.8623 30.6132 28.7377 28.7378C30.6131 26.8625 31.6666 24.3189 31.6666 21.6667V5.00008C31.6666 4.11603 31.3154 3.26818 30.6903 2.64306C30.0652 2.01794 29.2173 1.66675 28.3333 1.66675H23.3333Z' stroke='#C1834E' stroke-opacity='0.2' stroke-width='3.33333' stroke-linecap='round' stroke-linejoin='round')
              path(d='M4.99996 1.66675C4.1159 1.66675 3.26806 2.01794 2.64294 2.64306C2.01782 3.26818 1.66663 4.11603 1.66663 5.00008V15.0001C1.66663 15.8841 2.01782 16.732 2.64294 17.3571C3.26806 17.9822 4.1159 18.3334 4.99996 18.3334C5.44199 18.3334 5.86591 18.509 6.17847 18.8216C6.49103 19.1341 6.66663 19.5581 6.66663 20.0001V21.6667C6.66663 22.5508 6.31544 23.3986 5.69032 24.0238C5.06519 24.6489 4.21735 25.0001 3.33329 25.0001C2.89127 25.0001 2.46734 25.1757 2.15478 25.4882C1.84222 25.8008 1.66663 26.2247 1.66663 26.6667V30.0001C1.66663 30.4421 1.84222 30.866 2.15478 31.1786C2.46734 31.4912 2.89127 31.6667 3.33329 31.6667C5.98546 31.6667 8.529 30.6132 10.4044 28.7378C12.2797 26.8625 13.3333 24.3189 13.3333 21.6667V5.00008C13.3333 4.11603 12.9821 3.26818 12.357 2.64306C11.7319 2.01794 10.884 1.66675 9.99996 1.66675H4.99996Z' stroke='#C1834E' stroke-opacity='0.2' stroke-width='3.33333' stroke-linecap='round' stroke-linejoin='round')
        .reviewText
          p
            | &quot;I&apos;ve invested in multiple projects with Prethviga Homes and every time they&apos;ve exceeded expectations.
            | Their transparency and quality construction make them my go-to builder.&quot;
        .clientDetail
          .clientImage
            span A
          .clientInfo
            h3.clientName Arun Venkatesh
            p.clientRole Investor
        .reviewFooter
          | Project: Green Valley Apartments
      .reviewCard
        .reviewIcon
          span
            svg(width='34' height='34' viewbox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M23.3333 1.66675C22.4492 1.66675 21.6014 2.01794 20.9763 2.64306C20.3511 3.26818 20 4.11603 20 5.00008V15.0001C20 15.8841 20.3511 16.732 20.9763 17.3571C21.6014 17.9822 22.4492 18.3334 23.3333 18.3334C23.7753 18.3334 24.1992 18.509 24.5118 18.8216C24.8244 19.1341 25 19.5581 25 20.0001V21.6667C25 22.5508 24.6488 23.3986 24.0236 24.0238C23.3985 24.6489 22.5507 25.0001 21.6666 25.0001C21.2246 25.0001 20.8007 25.1757 20.4881 25.4882C20.1756 25.8008 20 26.2247 20 26.6667V30.0001C20 30.4421 20.1756 30.866 20.4881 31.1786C20.8007 31.4912 21.2246 31.6667 21.6666 31.6667C24.3188 31.6667 26.8623 30.6132 28.7377 28.7378C30.6131 26.8625 31.6666 24.3189 31.6666 21.6667V5.00008C31.6666 4.11603 31.3154 3.26818 30.6903 2.64306C30.0652 2.01794 29.2173 1.66675 28.3333 1.66675H23.3333Z' stroke='#C1834E' stroke-opacity='0.2' stroke-width='3.33333' stroke-linecap='round' stroke-linejoin='round')
              path(d='M4.99996 1.66675C4.1159 1.66675 3.26806 2.01794 2.64294 2.64306C2.01782 3.26818 1.66663 4.11603 1.66663 5.00008V15.0001C1.66663 15.8841 2.01782 16.732 2.64294 17.3571C3.26806 17.9822 4.1159 18.3334 4.99996 18.3334C5.44199 18.3334 5.86591 18.509 6.17847 18.8216C6.49103 19.1341 6.66663 19.5581 6.66663 20.0001V21.6667C6.66663 22.5508 6.31544 23.3986 5.69032 24.0238C5.06519 24.6489 4.21735 25.0001 3.33329 25.0001C2.89127 25.0001 2.46734 25.1757 2.15478 25.4882C1.84222 25.8008 1.66663 26.2247 1.66663 26.6667V30.0001C1.66663 30.4421 1.84222 30.866 2.15478 31.1786C2.46734 31.4912 2.89127 31.6667 3.33329 31.6667C5.98546 31.6667 8.529 30.6132 10.4044 28.7378C12.2797 26.8625 13.3333 24.3189 13.3333 21.6667V5.00008C13.3333 4.11603 12.9821 3.26818 12.357 2.64306C11.7319 2.01794 10.884 1.66675 9.99996 1.66675H4.99996Z' stroke='#C1834E' stroke-opacity='0.2' stroke-width='3.33333' stroke-linecap='round' stroke-linejoin='round')
        .reviewText
          p
            | &quot;Prethviga Homes transformed our dream into reality. Their attention to detail and commitment to quality
            | is unmatched. Our new home is everything we hoped for and more!&quot;
        .clientDetail
          .clientImage
            span R
          .clientInfo
            h3.clientName Rajesh Kumar
            p.clientRole Homeowner
        .reviewFooter
          | Project: Sunset Ridge Residence
      .reviewCard
        .reviewIcon
          span
            svg(width='34' height='34' viewbox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M23.3333 1.66675C22.4492 1.66675 21.6014 2.01794 20.9763 2.64306C20.3511 3.26818 20 4.11603 20 5.00008V15.0001C20 15.8841 20.3511 16.732 20.9763 17.3571C21.6014 17.9822 22.4492 18.3334 23.3333 18.3334C23.7753 18.3334 24.1992 18.509 24.5118 18.8216C24.8244 19.1341 25 19.5581 25 20.0001V21.6667C25 22.5508 24.6488 23.3986 24.0236 24.0238C23.3985 24.6489 22.5507 25.0001 21.6666 25.0001C21.2246 25.0001 20.8007 25.1757 20.4881 25.4882C20.1756 25.8008 20 26.2247 20 26.6667V30.0001C20 30.4421 20.1756 30.866 20.4881 31.1786C20.8007 31.4912 21.2246 31.6667 21.6666 31.6667C24.3188 31.6667 26.8623 30.6132 28.7377 28.7378C30.6131 26.8625 31.6666 24.3189 31.6666 21.6667V5.00008C31.6666 4.11603 31.3154 3.26818 30.6903 2.64306C30.0652 2.01794 29.2173 1.66675 28.3333 1.66675H23.3333Z' stroke='#C1834E' stroke-opacity='0.2' stroke-width='3.33333' stroke-linecap='round' stroke-linejoin='round')
              path(d='M4.99996 1.66675C4.1159 1.66675 3.26806 2.01794 2.64294 2.64306C2.01782 3.26818 1.66663 4.11603 1.66663 5.00008V15.0001C1.66663 15.8841 2.01782 16.732 2.64294 17.3571C3.26806 17.9822 4.1159 18.3334 4.99996 18.3334C5.44199 18.3334 5.86591 18.509 6.17847 18.8216C6.49103 19.1341 6.66663 19.5581 6.66663 20.0001V21.6667C6.66663 22.5508 6.31544 23.3986 5.69032 24.0238C5.06519 24.6489 4.21735 25.0001 3.33329 25.0001C2.89127 25.0001 2.46734 25.1757 2.15478 25.4882C1.84222 25.8008 1.66663 26.2247 1.66663 26.6667V30.0001C1.66663 30.4421 1.84222 30.866 2.15478 31.1786C2.46734 31.4912 2.89127 31.6667 3.33329 31.6667C5.98546 31.6667 8.529 30.6132 10.4044 28.7378C12.2797 26.8625 13.3333 24.3189 13.3333 21.6667V5.00008C13.3333 4.11603 12.9821 3.26818 12.357 2.64306C11.7319 2.01794 10.884 1.66675 9.99996 1.66675H4.99996Z' stroke='#C1834E' stroke-opacity='0.2' stroke-width='3.33333' stroke-linecap='round' stroke-linejoin='round')
        .reviewText
          p
            | &quot;Working with Prethviga Homes was a seamless experience. They delivered our commercial space on time and
            | within budget. Professional team with excellent communication!&quot;
        .clientDetail
          .clientImage
            span P
          .clientInfo
            h3.clientName Priya Sharma
            p.clientRole Business Owner
        .reviewFooter
          | Project: Tech Hub Commercial Plaza
      .reviewCard
        .reviewIcon
          span
            svg(width='34' height='34' viewbox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M23.3333 1.66675C22.4492 1.66675 21.6014 2.01794 20.9763 2.64306C20.3511 3.26818 20 4.11603 20 5.00008V15.0001C20 15.8841 20.3511 16.732 20.9763 17.3571C21.6014 17.9822 22.4492 18.3334 23.3333 18.3334C23.7753 18.3334 24.1992 18.509 24.5118 18.8216C24.8244 19.1341 25 19.5581 25 20.0001V21.6667C25 22.5508 24.6488 23.3986 24.0236 24.0238C23.3985 24.6489 22.5507 25.0001 21.6666 25.0001C21.2246 25.0001 20.8007 25.1757 20.4881 25.4882C20.1756 25.8008 20 26.2247 20 26.6667V30.0001C20 30.4421 20.1756 30.866 20.4881 31.1786C20.8007 31.4912 21.2246 31.6667 21.6666 31.6667C24.3188 31.6667 26.8623 30.6132 28.7377 28.7378C30.6131 26.8625 31.6666 24.3189 31.6666 21.6667V5.00008C31.6666 4.11603 31.3154 3.26818 30.6903 2.64306C30.0652 2.01794 29.2173 1.66675 28.3333 1.66675H23.3333Z' stroke='#C1834E' stroke-opacity='0.2' stroke-width='3.33333' stroke-linecap='round' stroke-linejoin='round')
              path(d='M4.99996 1.66675C4.1159 1.66675 3.26806 2.01794 2.64294 2.64306C2.01782 3.26818 1.66663 4.11603 1.66663 5.00008V15.0001C1.66663 15.8841 2.01782 16.732 2.64294 17.3571C3.26806 17.9822 4.1159 18.3334 4.99996 18.3334C5.44199 18.3334 5.86591 18.509 6.17847 18.8216C6.49103 19.1341 6.66663 19.5581 6.66663 20.0001V21.6667C6.66663 22.5508 6.31544 23.3986 5.69032 24.0238C5.06519 24.6489 4.21735 25.0001 3.33329 25.0001C2.89127 25.0001 2.46734 25.1757 2.15478 25.4882C1.84222 25.8008 1.66663 26.2247 1.66663 26.6667V30.0001C1.66663 30.4421 1.84222 30.866 2.15478 31.1786C2.46734 31.4912 2.89127 31.6667 3.33329 31.6667C5.98546 31.6667 8.529 30.6132 10.4044 28.7378C12.2797 26.8625 13.3333 24.3189 13.3333 21.6667V5.00008C13.3333 4.11603 12.9821 3.26818 12.357 2.64306C11.7319 2.01794 10.884 1.66675 9.99996 1.66675H4.99996Z' stroke='#C1834E' stroke-opacity='0.2' stroke-width='3.33333' stroke-linecap='round' stroke-linejoin='round')
        .reviewText
          p
            | &quot;I&apos;ve invested in multiple projects with Prethviga Homes and every time they&apos;ve exceeded expectations.
            | Their transparency and quality construction make them my go-to builder.&quot;
        .clientDetail
          .clientImage
            span A
          .clientInfo
            h3.clientName Arun Venkatesh
            p.clientRole Investor
        .reviewFooter
          | Project: Green Valley Apartments
section#contact-section.contact-container
  .contact-section
    .contact-card
      h1.contact-card__heading
        | Get in 
        span touch
      p.contact-card__description
        | Ready to discuss your project? Contact us today to explore how
        | we can bring
        | your vision to life with precision and care.
      .form-container
        div
          label(for='contact-name') Contact Name:
          input#contact-name(type='text' name='contact-name')
        div
          label(for='address') Address:
          input#address(type='text' name='address')
        div
          label(for='phone') Phone Number:
          input#phone(type='tel' name='phone')
        div
          label(for='email') Email:
          input#email(type='email' name='email')
      button.contact-card__button Submit
      .footer-info
        .footerSection
          div
            span
              svg(width='30' height='30' viewbox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M10.3293 11.8627C10.3293 12.069 10.4113 12.2668 10.5571 12.4126C10.7029 12.5585 10.9006 12.6405 11.1068 12.6405C11.313 12.6405 11.5107 12.5585 11.6565 12.4126C11.8023 12.2668 11.8842 12.069 11.8842 11.8627V10.3071C11.8842 10.1008 11.8023 9.90301 11.6565 9.75715C11.5107 9.61129 11.313 9.52935 11.1068 9.52935C10.9006 9.52935 10.7029 9.61129 10.5571 9.75715C10.4113 9.90301 10.3293 10.1008 10.3293 10.3071V11.8627ZM10.3293 11.8627C10.3293 13.9255 11.1484 15.9038 12.6064 17.3624C14.0644 18.821 16.0419 19.6404 18.1038 19.6404M18.1038 19.6404H19.6587C19.8649 19.6404 20.0626 19.5585 20.2084 19.4126C20.3542 19.2668 20.4361 19.069 20.4361 18.8627C20.4361 18.6564 20.3542 18.4586 20.2084 18.3127C20.0626 18.1668 19.8649 18.0849 19.6587 18.0849H18.1038C17.8976 18.0849 17.6999 18.1668 17.5541 18.3127C17.4083 18.4586 17.3264 18.6564 17.3264 18.8627C17.3264 19.069 17.4083 19.2668 17.5541 19.4126C17.6999 19.5585 17.8976 19.6404 18.1038 19.6404ZM1 28.9737L3.56557 23.0626C1.60277 20.2752 0.724267 16.8669 1.09492 13.4775C1.46557 10.088 3.0599 6.9504 5.5787 4.65344C8.09751 2.35648 11.3676 1.05808 14.7754 1.0019C18.1831 0.945724 21.4942 2.13563 24.0873 4.34832C26.6804 6.56101 28.3772 9.64437 28.8593 13.0198C29.3413 16.3951 28.5756 19.8305 26.7056 22.6812C24.8357 25.5318 21.9902 27.6018 18.7031 28.5026C15.4159 29.4034 11.9132 29.0731 8.8522 27.5737L1 28.9737Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          .info
            span.information WhatsApp
            span.information 905604821
        .footerSection
          div
            span
              svg(width='28' height='28' viewbox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M15.4715 0V1.92844C17.3789 1.92844 19.1658 2.41055 20.8323 3.37476C22.4184 4.3189 23.6833 5.58443 24.6269 7.17137C25.5907 8.83867 26.0725 10.6265 26.0725 12.5348H28C28 10.2649 27.4278 8.15568 26.2834 6.20716C25.1791 4.3189 23.6833 2.82235 21.796 1.71751C19.8485 0.572505 17.7403 0 15.4715 0ZM5.50296 2.89266C4.96086 2.89266 4.48903 3.0634 4.08748 3.4049L0.98548 6.56874L1.07583 6.50847C0.573887 6.93032 0.242605 7.45261 0.0819839 8.07533C-0.0585599 8.69805 -0.0184045 9.30069 0.20245 9.88324C0.764625 11.4501 1.51754 13.0571 2.46119 14.7043C3.78632 16.9743 5.36241 19.0132 7.18948 20.8211C10.1208 23.774 13.7649 26.1042 18.1218 27.8117H18.1519C18.7341 28.0126 19.3164 28.0527 19.8987 27.9322C20.501 27.8117 21.033 27.5505 21.4948 27.1488L24.5366 24.1055C24.9382 23.7037 25.1389 23.2116 25.1389 22.629C25.1389 22.0264 24.9382 21.5242 24.5366 21.1224L20.5913 17.145C20.1898 16.7433 19.6878 16.5424 19.0855 16.5424C18.4832 16.5424 17.9812 16.7433 17.5797 17.145L15.6823 19.0734C14.1564 18.3503 12.8313 17.4564 11.707 16.3917C10.5826 15.307 9.68915 13.9912 9.02659 12.4444L10.954 10.516C11.3757 10.0741 11.5865 9.55179 11.5865 8.94915C11.5865 8.32643 11.3456 7.82423 10.8637 7.44256L10.954 7.53296L6.91843 3.4049C6.51688 3.0634 6.04506 2.89266 5.50296 2.89266ZM15.4715 3.85687V5.78531C16.6963 5.78531 17.8206 6.08663 18.8446 6.68927C19.8886 7.2919 20.7118 8.11551 21.3141 9.16008C21.9165 10.1846 22.2176 11.3095 22.2176 12.5348H24.1451C24.1451 10.968 23.7536 9.51161 22.9705 8.16572C22.1875 6.86001 21.1435 5.81544 19.8384 5.03202C18.4932 4.24859 17.0376 3.85687 15.4715 3.85687ZM5.50296 4.82109C5.56319 4.82109 5.63346 4.85122 5.71377 4.91149L9.65904 8.94915C9.67912 9.0295 9.65904 9.09981 9.5988 9.16008L6.73774 11.9925L6.94855 12.5951L7.34007 13.4388C7.66131 14.1218 8.03275 14.7847 8.45438 15.4275C9.03663 16.3314 9.67912 17.1048 10.3818 17.7476C11.3255 18.6717 12.4599 19.5154 13.785 20.2787C14.4476 20.6604 15.0097 20.9416 15.4715 21.1224L16.0739 21.3936L18.9952 18.4708C19.0353 18.4306 19.0654 18.4105 19.0855 18.4105C19.1056 18.4105 19.1357 18.4306 19.1759 18.4708L23.2416 22.5386C23.2817 22.5788 23.3018 22.6089 23.3018 22.629C23.3018 22.629 23.2817 22.6491 23.2416 22.6893L20.2299 25.6723C19.7882 26.054 19.3064 26.1544 18.7843 25.9736C14.6885 24.3867 11.2753 22.2172 8.54473 19.4652C6.8582 17.7778 5.38249 15.8594 4.1176 13.71C3.2141 12.1632 2.51138 10.6667 2.00944 9.22034V9.19021C1.92913 9.00942 1.91909 8.79849 1.97932 8.55744C2.03956 8.2963 2.14999 8.09542 2.31061 7.9548L5.29214 4.91149C5.35238 4.85122 5.42265 4.82109 5.50296 4.82109ZM15.4715 7.71375V9.64218C16.2746 9.64218 16.9573 9.92342 17.5194 10.4859C18.0816 11.0483 18.3627 11.7313 18.3627 12.5348H20.2902C20.2902 11.6711 20.0693 10.8675 19.6276 10.1243C19.206 9.38104 18.6237 8.79849 17.8808 8.37665C17.138 7.93471 16.3349 7.71375 15.4715 7.71375Z' fill='black')
          .info
            span.information Phone
            span.information 905604821
        .footerSection
          div
            span
              svg(width='25' height='23' viewbox='0 0 25 23' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M6.20455 0V1.97124L0 6.01065V22.75H24.8182V6.01065L18.6136 1.97124V0H6.20455ZM8.27273 2.06818H16.5455V10.0178L12.4091 12.6999L8.27273 10.0178V2.06818ZM9.30682 4.13636V6.20455H15.5114V4.13636H9.30682ZM6.20455 4.4272V8.66051L2.9407 6.56001L6.20455 4.4272ZM18.6136 4.4272L21.8775 6.56001L18.6136 8.66051V4.4272ZM9.30682 7.23864V9.30682H15.5114V7.23864H9.30682ZM2.06818 8.46662L12.4091 15.1559L22.75 8.46662V20.6818H2.06818V8.46662Z' fill='black')
          .info
            span.information E-MAIL
            span.information info@company.com
            
include layout/footer.pug
script(src=utils.assetPath("/bundle/home.js"))